.box-input{
    width: 100%;
    max-width: 1024px;
}

.box{
    display: grid;
    align-items: center;
    justify-content: center;
}

.require{
    border: 1px solid red !important;
}

.money-right{
    text-align-last: right;
}

.data-box{
    padding-top: 7rem!important;
}